{
  "openapi": "3.0.0",
  "info": {
    "title": "Melinda RESTful API",    
    "version": "1.0.0"    
  },
  "servers": [
    {
      "url": "https://rest.api.melinda.kansalliskirjasto.fi/v1",
      "desscription": "foo"
    }
  ],
  "tags": [    
    {
      "name": "records",
      "description": "Creating new records"
    },
    {
      "name": "record",
      "description": "Operate on specific records"
    },
    {
      "name": "record lock",
      "description": "Record lock management"
    }
  ],
  "paths": {
    "/records": {
      "post": {
        "summary": "Create a record",
        "tags": ["records"],
        "parameters": [
          {
            "name": "noop",
            "description": "Do not create the record but return the messages about the operation",
            "in": "query",
            "type": "boolean",
            "default": false
          },
          {
            "name": "unique",
            "description": "Do not create the record if there are duplicates in the datastore",
            "in": "query",
            "type": "boolean",
            "default": true
          }
        ],
        "requestBody": {
          "description": "Contains a single record",
          "required": true,
          "content": {
            "application/json": {              
              "schema": {      
                "$ref": "#/components/schemas/MarcRecord"
              }      
            },
            "application/xml": {}
          }
        },
        "security": [{
          "httpBasic": []
          }],
          "responses": {
            "200": {
              "description": "The record was not actually created (The parameter **noop** was set to true)",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/RecordModificationReport"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/RecordModificationReport"
                  }                  
                }
              }
            },
            "201": {
              "description": "The record was created succesfully",
              "headers": {
                "Record-ID": {
                  "description": "The Record's identifier",
                  "schema": {
                    "type": "string"                  
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/RecordModificationReport"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/RecordModificationReport"
                  }                  
                }
              }
            },
            "400": {
              "description": "The record data is invalid",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/RecordModificationReport"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/RecordModificationReport"
                  }                  
                }
              }
            },
            "401": {
              "description": "Credentials are invalid or missing"
            },
            "403": {
              "description": "The credentials are not authorized for this operation"
            },
            "409": {
              "description": "The record has a duplicate in the datastore and **unique** was set to true",
              "content": {
                "application/json": {
                  "$ref": "#/components/schemas/RecordModificationReport"
                },
                "application/xml": {
                  "$ref": "#/components/schemas/RecordModificationReport"
                }
              }
            }
          }
        }
      },
      "/records/{id}": {      
        "post": {
          "summary": "Update a record",          
          "tags": ["record"],
          "parameters": [
            {
              "name": "id",
              "description": "The identifier of the record that's going to be updated",
              "in": "path",
              "type": "string",
              "required": true
            },
            {
              "name": "noop",
              "description": "Do not actually do the update but return the record in the format it would be uploaded",
              "in": "query",
              "type": "boolean",
              "default": false
            },
            {
              "name": "sync",
              "description": "Synchronize changes between the incoming record and the record in the datastore",
              "in": "query",
              "type": "boolean",
              "default": false
            },
            {
              "name": "ownerAuthorization",
              "description": "Require the credentials to have authority to change owner metadata",
              "in": "query",
              "type": "boolean",
              "default": true
            }
          ],
          "requestBody": {
            "description": "Contains a single record",
            "required": true,
            "content": {
              "application/json": {              
                "schema": {      
                  "$ref": "#/components/schemas/MarcRecord"
                }      
              },
              "application/xml": {}
            }
          },
          "security": [{
            "httpBasic": []
            }],
            "responses": {
              "200": {
                "description": "The record was updated successfully (Unless **noop** was set to true). Return final representation of the record in addition to operation metadata if **noop** was set to true",
                "content": {
                  "application/json": {                    
                    "schema": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/RecordModificationReport"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "record": {
                              "$ref":  "#/components/schemas/MarcRecord",
                              "required": "true"
                            },
                            "report": {
                              "$ref":  "#/components/schemas/RecordModificationReport"                              
                            }
                          }
                        }
                      ]
                    }
                  },
                  "application/xml": {}
                }
              },
              "400": {
                "description": "The record data is invalid",
                "content": {
                  "application/json": {
                    "schema": { "$ref": "#/components/schemas/RecordModificationReport" }
                  },
                  "application/xml": {
                    "schema": { "$ref": "#/components/schemas/RecordModificationReport" }
                  }
                }
              },
              "401": {
                "description": "Credentials are invalid or missing"
              },
              "403": {
                "description": "The credentials are not authorized for this operation"
              },
              "404": {
                "description": "The record does not exist"
              },
              "409": {
                "description": "The records could not be synchronized (The parameter **sync** was set to true)",
                "content": {
                  "application/json": {
                    "$ref": "#/components/schemas/RecordModificationReport"
                  },
                  "application/xml": {
                    "$ref": "#/components/schemas/RecordModificationReport"
                  }
                }
              },
              "423": {
                "description": "The record is locked"
              }
            }
          },
          "get": {
            "summary": "Retrieve a record",
            "tags": ["record"],
            "security": [
              {
                "httpBasic": []
              }
            ],          
            "responses": {
              "200": {
                "content": {
                  "application/json": {
                    "schema": { "$ref": "#/components/schemas/MarcRecord" }
                  },
                  "application/xml": {}
                },
                "headers": {
                  "Record-ID": {
                    "description": "Identifier of the record",
                    "schema": {
                      "type": "string"                  
                    }
                  }
                }
              },
              "401": {
                "description": "Credentials are invalid or missing"
              },
              "403": {
                "description": "The credentials are not authorized for this operation"
              },
              "404": {
                "description": "The record does not exist"
              }
            }
          }
        },
        "/records/{id}/lock": {      
          "post": {
            "summary": "Lock a record or renew the record's lock",
            "tags": ["record lock"],
            "responses": {
              "201": {
                "description": "The lock was succesfully created"
              },
              "204": {
                "description": "The lock was succesfully renewed"
              },
              "401": {
                "description": "Credentials are invalid or missing"
              },
              "403": {
                "description": "The credentials are not authorized for this operation"
              },
              "404": {
                "description": "The lock does not exist"
              }
            },
            "security": [
              {
                "httpBasic": []
              }
            ]
          },
          "delete": {
            "summary": "Unlock a record",
            "tags": ["record lock"],
            "responses": {
              "204": {
                "description": "The lock was succesfully deleted"
              },
              "401": {
                "description": "Credentials are invalid or missing"
              },
              "403": {
                "description": "The credentials are not authorized for this operation"
              },
              "404": {
                "description": "The lock does not exist"
              }
            },
            "security": [
              {
                "httpBasic": []
              }
            ]
          },
          "get": {
            "summary": "Retrieve information about a record lock",
            "tags": ["record lock"],
            "responses": {
              "200": {
                "description": "Metadata about the lock",
                "content": {
                  "application/json": {
                    "schema": { "$ref": "#/components/schemas/RecordLock" }
                  },
                  "application/xml": {
                    "schema": { "$ref": "#/components/schemas/RecordLock" }
                  }
                }
              },
              "401": {
                "description": "Credentials are invalid or missing"
              },
              "403": {
                "description": "The credentials are not authorized for this operation"
              },
              "404": {
                "description": "The lock does not exist"
              }
            },
            "security": [
              {
                "httpBasic": []
              }
            ]
          }
        }
      },
      "components": {
        "securitySchemes": {
          "httpBasic": {
            "type": "http",
            "scheme": "basic"
          }
        },
        "schemas": {
          "RecordModificationReport": {
            "type": "object",
            "properties": {
              "messages": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": ["error", "warning", "info"],
                      "required": true,
                      "xml": {
                        "attribute": true
                      }
                    },
                    "message": {
                      "type": "string",
                      "required": true,
                      "xml": {
                        "name": "text"
                      }
                    },
                    "duplicates": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "xml": {
                          "name": "id"
                        }
                      },
                      "xml": {
                        "wrapped": true
                      }
                    }
                  }
                },
                "xml": {
                  "name": "message"
                }
              }              
            },
            "xml": {
              "name": "messages"
            },
            "example": {
              "messages": [
                {
                  "type": "info",
                  "message": "foobar"
                },
                {
                  "type": "error",
                  "message": "The record has duplicates in the datastore",
                  "duplicates": ["123456", "789100"]
                }
              ]
            }
          },
          "RecordLock": {
            "type": "object",
            "properties": {
              "expirationTime": {
                "type": "string",
                "format": "date-time",
                "required": true,
                "xml": {
                  "attribute": true
                }
              }
            },
            "xml": {
              "name": "lock"
            }
          },
          "MarcRecord": {
            "type": "object",
            "properties": {
              "leader": {
                "type": "string"
              },
              "fields": {
                "type": "array",
                "required": true,
                "items": {
                  "type": "object",
                  "properties": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "tag": {
                            "type": "string",
                            "required": true
                          },
                          "value": {
                            "type": "string",
                            "required": true
                          }
                        }                  
                      },
                      {
                        "type": "object",
                        "properties": {
                          "tag": {
                            "type": "string",
                            "required": true
                          },
                          "subfields": {
                            "type": "array",
                            "required": true,
                            "items": {
                              "type": "object",
                              "properties": {
                                "code": {
                                  "type": "string",
                                  "required": true
                                },
                                "value": {
                                  "type": "string",
                                  "required": true
                                }
                              } 
                            }                       
                          }
                        }
                      }
                    ]                
                  }
                }
              }
            },
            "example": {
              "fields": [{
                "tag": "245",
                "subfields": [
                  {
                    "code": "a",
                    "value": "foo"
                  }
                ]               
                }]
              }
            }
          }
        }
      }
